<div id="<%= dom_id property %>">
  <p>
    <strong>User:</strong>
    <%= property.user.full_name %>
  </p>

  <p>
    <strong>Operation:</strong>
    <%= property.operation_id %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= property.precio %>
  </p>

  <p>
    <strong>Type money:</strong>
    <%= property.type_money %>
  </p>

  <p>
    <strong>M2:</strong>
    <%= property.m2 %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= property.release_date %>
  </p>

  <p>
    <strong>Link to website:</strong>
    <%= property.link_to_website %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= property.available %>
  </p>

</div>
